:root {
    --color_main: #5784BA;
    --color_secondary: #ADA9BB;
}
body{
    background-color: #E6EDF6;
}
h2{
    padding-top: 3em;
    font-weight: 700;
    font-size: 40px;
}
.container-fluid{
    height: 100vh;
    padding: 0;
    font-family:Kanit;
}
main{
    width: 50%;
    height: 100vh;
    font-weight: 500;
}
.main-form{
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 70%;
    margin-top: 1em;
    position: relative;
}
p{
    font-size: 14px;
    color:var(--color_secondary);
    position: absolute;
    bottom:0.5rem;
}
p a{
    text-decoration: none;
    color:var(--color_main);
}
.main-form label[for="input-email"],label[for="input-password"]{
    position: absolute;
    padding: 2px;
    color:var(--color_secondary);
    top: 2px;
    left: 15px;
    font-size:10px;
    background: linear-gradient(180deg,#E6EDF6 50%,#fff 50%);
}
.main-form label[for="input-password"]{
    top: 52px;
}
button.eye-visibility{
    position: absolute;
    top: 56px;
    right: 15px;
    padding: 0;
    text-decoration: none;
    border: none;
    height:fit-content;
    width: fit-content;
    background-color: transparent;
}
.main-form input,button{
    width: 100%;
    margin-top: 10px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
}
a.forgot-password{
    text-decoration: none;
    color: #010620;
    font-size: 12px;
    font-weight: 600;
    align-self: flex-end;
    margin-bottom: 4rem;
}
.login-google img{
    width: 30px;
    height: 30px;
}
.main-form input{
    border: 1px solid var(--color_secondary);
    border-radius: .25rem;
    outline: none;
}
.main-form input[type="email"]::placeholder{
    font-weight: 500;
    font-style: normal;
    color: rgb(165, 165, 165);
}
.main-form input:focus{
    border: 3px solid var(--color_main);
}
.main-form input:focus + label{
    font-weight: 600;
    color:var(--color_main);
}
.main-form button.btn{
    background-color:var(--color_main);
    color: white;
}
.main-form button:hover{
    color: white;
}
.main-form button.login-google{
    color: #010620;
    background-color: #fff;
    padding: 5px;
    font-size: 16px;
}